.color-p1 {
  color: #b1e3dd;
}

.color-p2 {
  color: #43ccbc;
}

.color-p3 {
  color: #2da092;
}

.color-p4 {
  color: #0e5951;
}

.color-c0 {
  color: #ffffff;
}

.color-c1 {
  color: #f7f7f7;
}

.color-c2 {
  color: #b3b3b3;
}

.color-c3 {
  color: #707070;
}
